.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer{
    background-color: rgb(219, 200, 242);
    margin: 0px auto ;
    padding: 20px 0px 20px 0px;

}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575cd;
    color: floralwhite; 
 }

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
.navbar-dark{
    background-color: #43228f;
}
a#icon{
    padding-right: 30px;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.modal .modal-header {
    background: #512DA8; }
    .modal .modal-header .modal-title, .modal .modal-header .close {
      color: #ddd; }
  
  .modal .modal-body {
    background: #D1C4E9; }